name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Jest Tests
      id: jest-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Jest Tests
        setup-command: npm ci
        command: npm test -- --ci --runInBand
        timeout: 5
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        JEST-TESTS_RESULTS: "${{steps.jest-tests.outputs.result}}"
      with:
        runners: jest-tests
